@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
html, body{
  height: 100%;
  margin: 0;
  color: rgb(55, 53, 47);
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;

  color: #8c2dff;
  font-size: 100px;
  font-family: 'Gamja Flower', cursive;;
}

.loading, .done{
  display: none;
  width: 300px;
}

.hidden{
  display: none;
}

.resultgrid{
  overflow-y: hidden;
  border-radius: 12px;
  background: #202020;  
  color: #6c00b4;
  position: relative; 
  top: 50px;
}

.mainContainer, #root{
  background: transparent;  
  height: 100%;
}